@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}
nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: aliceblue;
  border-radius: 25px;
}

ul {
  list-style-type: none;
}

nav ul {
  display: flex;
  gap: 2rem;
}

.burger-menu {
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 35.5rem;
  width: 37.5rem;
  border-radius: 25px;
  margin-top: 2rem;
}

.bio {
  width: 25rem;
  padding: 0.625rem;
}

.bio p {
  padding: 0.3rem 0;
}

.projects {
  padding: 32px 0;
  margin-top: 2rem;
  background-color: aliceblue;
  border-radius: 25px;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: left;
  width: 50%;
  padding: 1rem;
}

.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  border-radius: 5px;
}

.contact-form-container label {
  line-height: 3rem;
}

.contact-form-container textarea {
  min-height: 6.5rem;
  font-size: 14px;
}

.contact-form-container input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  border: none;
  border: 2px outset;
  font-size: 0.875rem;
  outline: none;
}
